{% extends 'base.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'report_list' %}">Laporan</a>
    </li>
    <li class="breadcrumb-item active">Hapus</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<h2>Konfirmasi Hapus</h2>

<p>Apakah kamu yakin ingin menghapus:</p>
<p><b>{{ object.title }}</b></p>

<form method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        Ya, Hapus
    </button>
</form>

<a href="{% url 'report_list' %}" class="btn btn-secondary mt-2">
    Batal
</a>

{% endblock %}