{% extends 'base.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'home' %}">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'report_list' %}">Laporan</a>
    </li>
    <li class="breadcrumb-item active">Detail</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<h2>Detail Laporan</h2>
<hr>

<h3>{{ report.title }}</h3>

<p><b>Category:</b> {{ report.category }}</p>
<p><b>Description:</b> {{ report.description }}</p>
<p><b>Location:</b> {{ report.location }}</p>
<p><b>Status:</b> {{ report.status|title }}</p>

<a href="{% url 'update_report' report.id %}" class="btn btn-warning">Update</a>
<a href="{% url 'delete_report' report.id %}" class="btn btn-danger">Delete</a>

<br><br>
<a href="{% url 'report_list' %}" class="btn btn-secondary">
    Kembali
</a>

{% endblock %}